{% extends 'template.html.twig' %}

{% block rubriqueTitle %}
    Liste des restaurants
{% endblock %}

{% block pageCorps %}

<div class="row">
{#    afficher pour liste home et celle d'un restaurateur #}
        {{ include('restaurant/restaurant-list.html.twig') }}

</div>
{% endblock %}
