{% extends 'template.html.twig' %}

{% block title %}Profile restaurateur{% endblock %}

{% block rubriqueTitle %}
Gérer vos restaurants
{% endblock %}

{% block pageCorps %}
<div class="row">
    <div class="col-12">
        <a href="{{ path('app_logout') }}" class="btn btn-outline-dark float-end">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        <a href="{{ path('restaurateur_page_add_resto') }}" class="btn btn-primary btn-add-resto float-start mb-3">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    {{ include('restaurant/restaurant-list.html.twig') }}
</div>
{% endblock %}

